.transcript-checkbox {
  transform: scale(1.2);
}

div#listendltool_download {
  padding: 8px;
  margin: 0 12px;
  position: fixed;
  left: 0;
  right: 0;
}

div#listendltool_download > button {
  border: 1px solid black;
  padding: 4px;
  margin: 0 auto;
  display: block;
  background-color: white;
}

div#listendltool_download > button:hover {
  background-color: silver;
}